<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated java -->
      <package
            uri="http://csd.centralesupelec.fr/ejava"
            class="fr.centralesupelec.csd.ejava.EJavaPackage"
            genModel="model/ejava.genmodel"/>
   </extension>

</plugin>
